
.HomeworkTracker {
    .-add-button, .-sort-button {
        display: inline-block;
        width: calc(50% - 10px);
        text-align: center;
    }
    .-Assignments {
        .-empty-info {
            display: block;
            margin: 10px;
            padding: 5px;
            text-align: center;
            background: var(--background-med);
            color: var(--text-med);
        }
    }
}


.hwt-Assignment {
    $lSize: 25px;
    .-hdr {
        height: $lSize;
        display: block;
        background: var(--background-med);
        color: var(--text-med);
        border-top: 0.5px solid var(--border);
        position: relative;
        .-arrow { 
            line-height: $lSize;
            display: inline-block;
            width: $lSize;
            text-align: center;
            font-family: "Odibee Sans", sans-serif;
            transition: 0.3s transform;
            &.-opened {
                transform: rotate(90deg);
            }
        }
        .-name { line-height: $lSize; }
        .-due { margin-left: 5px; font-weight: bold; }
        .Button {
            height: 100%;
            box-sizing: border-box;
            margin: 0px;
            padding: 0px 5px;
            border: none;
        }
        .-buttons {
            position: absolute;
            right: 0px; top: 0px; height: 100%;
        }
    }
    .-body {
        transition: 0.3s height;
        height: 10em;
        overflow: hidden;
        &:not(.-opened) {
            height: 0px;
        }
        .-row {
            padding: 5px; padding-bottom: 0px;
            label {
                width: 80px;
                padding-right: 5px;
                margin-right: 5px;
                border-right: 1px dotted var(--border);
                display: inline-block;
            }
            span {
                background: var(--background-em);
                color: var(--text-em);
            }
            a {
                background: var(--background-em);
                color: var(--text-em);
                display: inline-block;
                max-width: 295px;
            }
        }
    }
}

@mixin popupInputRow {
    text-align: center;
    label {
        width: 120px;
        height: 25px;
        line-height: 25px;
        background: var(--background-em);
        color: var(--text-em);
        display: inline-block;
        margin: 5px;
        padding: 0px 10px;
        text-align: right;
    }
    .TextInput, .DateInput, .SelectInput {
        width: 190px;
    }
}

.hwt-EditPopup {
    .-input {
        @include popupInputRow();
    }
}
.hwt-SortPopup {
    .-row {
        @include popupInputRow();
    }
}
.hwt-EditPopup, .hwt-SortPopup {
    h2 {
        text-align: center;
        background: var(--background);
        opacity: 0.7;
    }
    .-done-button, .-cancel-button {
        width: 190px;
    }
}