@use "sass:math";
@import "../interactable.scss";

$transition_short: 0.3s;

input.TextInput, .PassInput.TextInput input {
    @include interactable();
    padding: 0px 10px;
    &::placeholder {
        opacity: 0.5;
    }
}
.PassInput.TextInput {
    $showPassButtonSize: 25px;
    position: relative;
    display: inline-block;
    input { width: 100%; }
    button {
        position: absolute;
        top: calc(50% - #{math.div($showPassButtonSize, 2)});
        right: 4px;
        width: $showPassButtonSize;
        height: $showPassButtonSize;
        background-color: transparent;
        border: none;
        padding: 0px;
        margin: 0px;
        display: block;
        svg {
            width: 100%;
            height: 100%;
            --svg-fg: var(--text);
            transition: var(--svg-fg) $transition_short;
        }
    }
    input:hover + button svg {
        --svg-fg: var(--text);
    }
}
