
:root {
  --background: #ffffff;
  --background-em: #17684d;
  --text: #263f31;
  --text-em: #ffffff;

  --border: #89c5a9;

  --button-border: #00cc77;
  --button-background: #c1ffe5;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.invalid { // TODO
  outline: 3px solid red;
}

@media (prefers-color-scheme: light) { body { --theme: light; } }
@media (prefers-color-scheme: dark) { body { --theme: dark; } }