@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto+Condensed&display=swap');
@import "./vars.scss";

//*   
:root { // LIGHT MODE:root
  --background: #fff;
  --background-med: #edf9f3;
  --background-em: #2e6860;
  --text: #217f61;
  --text-med: #3a826f;
  --text-em: #fff;
  --border: #51ad8e;
  --interactable-fg: #179f74;
  --interactable-bg: #d4eae1;
  --interactable-bg-hov: #cce6df;
  --interactable-em-fg: #f9fffd;
  --interactable-em-bg: #58a78d;

  --focus-col: #204137;
}
@media (prefers-color-scheme: dark) {
  :root { // DARK MODE
    --background: #1b0d2c;
    --background-med: #2b1842;
    --background-em: #3e1366;
    --text: #fff;
    --text-med: #e2d0f9;
    --text-em: #e5e2f2;
    --border: #8d68cc;
    --interactable-fg: #8860d4;
    --interactable-bg: #401560;
    --interactable-bg-hov: #442d54;
    --interactable-em-fg: #2f0b68;
    --interactable-em-bg: #c39dff;
    --focus-col: #ad1eff;
  }
}

body {
  margin: 0;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  width: 400px;
  height: 550px;
  /*border: 1.4px solid var(--background-em);*/

  font-size: 15px;
  
  background: var(--background);
}

:focus {
  outline-color: var(--focus-col);
  outline-style: auto;
  z-index: 3;
  &.hwt-Assignment { position: relative; }
  > * {
    z-index: -1;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.invalid { // TODO
  outline: 3px solid red;
}

@media (prefers-color-scheme: light) { body { --theme: light; } }
@media (prefers-color-scheme: dark) { body { --theme: dark; } }