@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Roboto+Condensed&display=swap');
@import "./vars.scss";

//*   
:root { // LIGHT MODE
  --background: #ffffff;
  --background-med: #f7f7f7;
  --background-em: #414141;
  --text: #000000;
  --text-med: #353535;
  --text-em: #ffffff;

  --border: #777777;

  --interactable-fg: #505050;
  --interactable-bg: #e7e7e7;
  --interactable-bg-hov: #d6d6d6;
  --interactable-em-fg: #fdfdfd;
  --interactable-em-bg: #3b3b3b;
}
/*/    
:root { // DARK MODE
  --background: #3d3d3d;
  --background-med: #292929;
  --background-em: #161616;
  --text: #ffffff;
  --text-med: #f0f0f0;
  --text-em: #d6d6d6;

  --border: #777777;

  --interactable-fg: #acacac;
  --interactable-bg: #252525;
  --interactable-bg-hov: #474747;
  --interactable-em-fg: #292929;
  --interactable-em-bg: #f0f0f0;
}
//*/

body {
  margin: 0;
  font-family: $font-sans;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text);
  width: 400px;
  height: 550px;
  /*border: 1.4px solid var(--background-em);*/

  font-size: 15px;
  
  background: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.invalid { // TODO
  outline: 3px solid red;
}

@media (prefers-color-scheme: light) { body { --theme: light; } }
@media (prefers-color-scheme: dark) { body { --theme: dark; } }