.Popup {
    position: absolute;
    left: 1px; top: 1px; bottom: 1px; right: 1px;
    .-bg {
        background: var(--background);/*TODO insert color variables*/
        opacity: 0.7;
    }
    .-bg, .-content {
        position: absolute;
        left: 0; top: 0; bottom: 0; right: 0;
    }
}