.Popup {
    position: absolute;
    left: 0; top: 0; bottom: 0; right: 0;
    .-bg {
        position: absolute;
        left: 0; top: 0; bottom: 0; right: 0;
        background: #3ef1e988;/*TODO insert color variables*/
    }
}